<div class="book-card">
    <div class="book-info">
        <h4 class="book-title">{{bookInfo.title}}</h4>
        <div class="book-authors">
            <span>Authors: </span>
            <span>{{bookInfo.authors.join(', ')}}</span>
        </div>
        <div class="book-publishers">
            <span>Publishers: {{bookInfo.publisher}}</span>
        </div>
        <div class="book-publishers">
            <span>Published Date: {{bookInfo.publishedDate}}</span>
        </div>
    </div>

</div>
